* {
	/*border: 1px solid #000000*/
	font-family: orienta;
	font-weight: bold;
	box-sizing: border-box;
}
body {

	background-color: #d1f1d1; 
}
header {
	display:flex;
	flex-direction:row;
	background-color: #d1f1d1;
	justify-content: center;
}
h1 {
	font-size: 48px;
	justify: center;
	font-family: amaranth;
}
img { 
	object-fit: cover;
	border-radius: 7px;
	margin: 5px;
	padding: 2px;
	display: inline-block;
}
nav {
	display:flex;
	flex-direction:row;
	margin-bottom: 15px;
}
.button {
	border: 2.25px solid black;
	background-color: #6491a0;
	padding: 5px;
	margin: 2px;
	margin-right: 15px;
	color: #EBF6E4;	
	border-radius: 5px;
	font-style: bold;
}
.logo {
	height: 100px;
}
a {
	text-decoration: none;
}
.button:hover {
	/*color: rgba(0, 0, 0, 1.0);*/
	background-color: #999999;
}
section {
	background-color: #329f75;
	margin-left: 2px;
	margin-right: 2px;
	padding: 3px;
	border-radius: 5px;
}
#mainright {
	float: right;
	max-width: 200px;
	max-height: 300px;
	border-radius: 15px;
	margin-bottom: 15px;
}
#mainleft {
	float: left;
	max-width: 200px;
	max-height: 200px;
	border-radius: 15px;
	margin-right: 10px;
}
#foot {
	margin: 10px;
	display: flex;
	justify-content: center;
	max-width: 50%;
	padding: 1px;
}
#foot p {
	font-family: amaranth;
	font-style: bold;
	text-align: center;
}
#banner {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap-reverse;
}
.item {
	max-width: 150px;
	max-height: 150px;
	margin-left: 5px;
	margin-right: 5px;
}

.art {
	padding-bottom: 5px;
	margin-bottom: 5px;
}
#pfp {
	float: left;
	max-height: 100px;
}
nav {
	display: flex;
	justify-content: center;
}
nav a {
	font-size: 24px;
}
.imagwrap {
	padding: 5px;
}
.identify {
	display: flex;
	justify-content: center;
}
.foot {

}
footer {
	display: flex;
	justify-content: center;
}
	